
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 6px; }

body {
  font-family: 'Open Sans';
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, #0f3a07b4, #14562ab7), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
 }

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem; }

.header__logo {
  height: 15rem;
 }
.nav{
  padding: 2rem;
  border: 1rem;
  border-radius: 3rem 0 0  3rem;
  display: flex;
  flex-direction: row;
  gap: 4rem;;
  align-items: center;
  float: right;
  margin: 2rem 0 0 0;
  background:rgba(0, 0, 0, 0.45);

  }
.btn-nav{
  color: white;
  font-size: 3rem;
  opacity: 100%;
  text-decoration: none;
}
.btn-nav:hover{
  color: aqua;
}
.icon-nav{
  color: white;
}
.icon-nav:hover{
  stroke: aqua;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.heading-primary {
  color: white;
 
  backface-visibility: hidden;
  margin-bottom: 6rem; }

.heading-primary--main {
  display: block;
   text-transform: uppercase;
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: 2rem;
  animation-name: moveInleft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  animation-name: moveInright;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInright {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0px); } }

.btn-discover{
  text-transform: uppercase;
  padding: 3rem 4rem;
  border-radius: 3rem;;
  border: solid 2px aqua;
  color: rgb(13, 39, 39);
  background: wheat;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
}
.btn-discover:hover{
 background: rgb(4, 75, 4);
 border: green;
 color: aliceblue; 
}
/*serive section*/
.service-section{
  margin: auto;
}
.services{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
.service-header{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #000000;
}
.service{
  text-decoration: none;
  align-items: center;
  align-content: center;
  text-align:center;
  font-style: normal;
  color: #000000;
  height: auto;
  width: auto;
  padding: 5rem 4rem;
  background: #D4E5DD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  border: 2px solid #D4E5DD;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
}
.service:hover{
  border-color: aqua;
}
.service-title{
  font-size: 4rem;
  font-weight: 700;
}
.service-des{
  font-size: 2.5rem;
}
.service-history-btns{
  display: flex;
  gap: 35rem;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 5%;
}
.service-history-btn{
  text-decoration: none;
  text-align:center;
  align-items: center;
  align-content: center;
  justify-content: center; 
  font-style: normal;
  color: #000000;
  height: 200px;
  width: 250px;
  padding: 5rem 4rem;
  background: #D4E5DD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  border: 2px solid #D4E5DD;
  border-radius: 15px;
  margin-top: 3rem;
}
.service-history-head{
  font-style: normal;
  font-weight: 800;
  padding-top:10rem ;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #000000;
  margin-top: 2%;
}
.service-history-btn:hover{
  border-color: aqua;
}
.service-history-des{
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: #000000;
}
.service-history{
  height: 80vh;
  /*background: rgba(0, 88, 83, 0.05);*/
  background-size: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.world-map{
  background: url(./bwb-world-map.png);
  height: 65vh;
}
.destination-header{
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #000000;
}
.destination-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25rem;
}
.world-map2{
  width: 900px;
height: 700px;
opacity: 0.6;
}
.destination-pic{
  width: 210px;
height: 120px;
left: 910px;
top: 2647px;
border-radius: 10px;
}
.destination-content{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.destination-btn{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-content: center;
  align-items: center;
  width: 550px;
  height: 180px;
  left: 910px;
  top: 3146px;

background: #D4E5DD;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
border-radius: 15px;
}
.next-back-btn{
  display: flex;
  flex-direction: column;
}
.icon-chevron-right:hover{
  stroke: aqua;
  cursor:pointer;
}
.icon-chevron-left:hover{
  stroke: aqua;
  cursor:pointer;
}
.packages_body{
  background: #ECF1F0;
}
.packages_head{
  text-align: center;
  font-size: 8rem;
  font-weight: 800;
  color: #000000;
}
.packages{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  gap: 6rem;
  justify-content: center;
}
.package_btn{
  text-decoration: none;
  font-size: 4rem;
  font-weight: 600;
  color: #000000;
  background: rgba(0, 0, 0, 0.15);
  padding: 1rem 2rem;
  border-radius: 2rem;
}
.package_btn:hover{
  background: rgb(15, 174, 15);
}
.packages_details{
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.pack_img{
 width: 500px;
height: 250px; 

}
.pack_details_btn{
  display: flex;
  flex-direction: column;
  /*cursor: pointer;*/
  background: #D0DED8;
  border-radius: 2rem;
  align-items: center;
  padding-bottom: 2rem;
}
.pack_rate{
  display: flex;
  flex-direction: row;
  gap: 15rem;
  text-align: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 800;
  color: #000000;
}
.pack_des{
  text-align: center;
  font-size: 3rem;
  color: #000000;
}
.pack_location{
  margin-left: 2%;
}
.location{
  display: flex;
  flex-direction: row;
  gap: 6rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}
.know_more{
  margin-left: 15rem;
}
.discover-pack{
  text-align: center;
  margin-top: 5%;
}
.btn-discover-package{
  text-transform: uppercase;
  padding: 3rem 4rem;
  border-radius: 3rem;;
  border: solid 2px aqua;
  color: rgb(15, 39, 13);
  background: rgb(73, 217, 21);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}
.btn-discover-package:hover{
 background: rgb(4, 75, 4);
 border: green;
 color: aliceblue; 
}
/* ------------------------------------Trip ad-------------------------------------*/
.book-trip-ad{
  margin-top:3% ;
}
.book-trip-head{
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 54px;
text-align: center;
color: #000000;
}
.trip-sub-head{
  font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 33px;
/* identical to box height */
text-align: center;
color: #000000;
}
.ad{
  display: flex;
  flex-direction: row;
  gap: 8rem;
  padding: 5rem;
  justify-content: center;
  align-items: center;
}
.all-steps{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.step{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
}
.icon-crosshair{
  width: 65.21px;
height: 66.59px;
left: 317px;
top: 4843.55px;
background: #E3E539;
border-radius: 13px;
}
.icon-cash{
 width: 65.21px;
height: 66.59px;
left: 317px;
top: 4998.93px;
background: #8FDF4D;
border-radius: 13px; 
}
.icon-plane-arrival{
   width: 65.21px;
height: 66.59px;
left: 317px;
top: 4998.93px;
background: #E3E539;
border-radius: 13px; 
}
.step-head{
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 124.5%;
/* or 20px */


/* TEXT CLR */

color: #5E6282;
}
.step-des{
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 124.5%;
/* or 20px */

/* TEXT CLR */
color: #5E6282;
}
.trip-stat{
  width: 370px;
height: 400px;
left: 979px;
top: 4831px;
/* white */
background: #FFFFFF;
box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
border-radius: 26px;
}
.trip-stat-con{
  padding: 2rem 2rem 2rem 2rem;
  
}
.trip-pic{
width: 340px;
height: 161px;
left: 1004px;
top: 4851px;
border-radius: 24px;
}
.trip-destination{
  margin-top: 2%;
  font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 124.5%;
/* or 22px */

letter-spacing: 0.015em;

/* black */

color: #080809;
}
.trip-detils{
  font-weight: 500;
font-size: 16px;
line-height: 124.5%;
/* identical to box height, or 20px */

letter-spacing: -0.005em;

/* text 2 */

color: #84829A;
}
.trip-stat-icons{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 3rem;

}
.icon-leaf{
  border-radius: 2rem;
}
.icon-map{
  border-radius: 2rem;
}
.icon-location{
  border-radius: 2rem;
}
.trip-stat-going{
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.trip-detils{
  color: #777;
  font-weight: 600;
}
.icon-heart{
  margin-left: 40%;
  stroke: #8FDF4D;
}
.subscription{
  width: 1170px;
  height: 407px;
  margin-left: 15%;
  padding: 5rem 5rem 5rem 5rem;
  background: #5ecfb8;
  border-radius: 20px 129px 20px 20px;

}
.subscription-head{
font-weight: 600;
font-size: 33px;
line-height: 54px;
/* or 164% */
margin-top: 5%;
text-align: center;

color: #000000;
}
.subscribe{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.subscription-email{
  border: none;
  padding: 3rem 15rem;
  border: white;
}
.subscription-mail-box{
display: flex;
flex-direction: row;
align-items: center;
width: 421px;
height: 68px;
left: 525px;
top: 6503px;

/* white */

background: #FFFFFF;
border-radius: 10px;
}
.subscribe-btn{
background: #8FDF4D;
border-radius: 10px;
border: 5px solid #8FDF4D;
font-weight: 700;
font-size: 3rem;
/* identical to box height */
text-align: center;
text-decoration: none;
color: #0B0B0B;
padding: 2rem;
}
.subscribe-btn:hover{
  border:5px solid #5ecbcf;
  color: white;
}
.footer{
  display: flex;
  flex-direction: row;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem 5rem 5rem;
  background: #bdc1c0;
  margin-top: 2rem;
}
.footer__logo{
  width: 122px;
height: 125px;
left: 129px;
top: 6757px;

}
.footer-logo-foot{
  font-weight: 600;
font-size: 13px;
line-height: 124.5%;
/* or 16px */


/* TEXT CLR */

color: #293069;
}
.footer-content{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.footer-headers{
  font-size: 5rem;
  font-weight: 600;
}
.footer-btns{
   display: flex;
  flex-direction: column;
  gap: 3rem;
  font-style: normal;
  align-items: center;
font-weight: 400;
font-size: 18px;
line-height: 124.5%;
/* or 22px */


/* TEXT CLR */

color: #5E6282;
}