@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: "Poppins", sans-serif;*/
   font-family: 'Open Sans';
}
body{
  /*background: #dfe9f5;*/
  background: url(./login\ background.jpg);
  background-repeat: no-repeat;
  font-family: 'Open Sans';
}
.header__logo{
  height: 8rem;
  width: 7rem;
}
.wrapper{
  width: 40rem;
  height: 45rem;
  padding: 2rem 0 1rem 0;
  margin: 10% auto;
  background:rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  color: #fff;
}
h1{
  font-size: 2rem;
  color: #ad031a;
}
p{
  margin-bottom: 1.7rem;

}
form input{
  width: 70%;
  outline: none;
  border: none;
  background: #dfe9f5;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1rem;
}
.recover{
  text-align: right;
  font-size: 0.8rem;
  margin: 0.2rem 1.7rem 0 0;
  color: aquamarine;
}
.recover a{
  text-decoration: none;
  color:aquamarine;
}
.sign-button{
  font-size: 1.1rem;
  margin-top: 1rem;
  padding:0.8rem 3rem ;
  border-radius: 5px;
  outline: none;
  border: none;
  background: wheat;
  color: black;
  cursor: pointer;
}
.sign-button:hover{
  background: rgb(13, 106, 13);
  color: #fff;
}
.sign-button:hover{
  color: #fff;
}
.or{
  font-size: 1rem;
  margin-top: 1.5rem;
}
.icons i{
  color: #07001f;
  padding: 00.8rem 1.5rem;
  border-radius: 10px;
  margin-left: .9rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #dfe9f5;
}
.icons i:hover{
  color: #fff !important;
  background: #07001f;
  transition: 1s;
}
.icons i:first-child{
  color: green;
}
.icons i:last-child{
  color: blue;
}
.already-member{
  font-size: 1rem;
  margin-top: 1.4rem;
}
.already-member a{
  color: tomato;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 6rem 0 6rem;
}